/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/

/*	Grid
--------------------------------------------------------*/

$columns: 12 !default;
$column-width: 65px !default;
$gutter-width: 20px !default;

// Basic or Advanced usage
$advanced-usage: false !default;


/*	Colors
--------------------------------------------------------*/

$primary-color: #F8DC3D !default;
$secondary-color: #444444 !default;
$dark: #2C3E50;
$primary-color-darken: #ff9c08;
$gray: #f1f1f1;

$yellow: #F8DC3D;
$mug:  #2E2E2C;
$bubbles: #FFFAC2;